apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: tfg-ingress
  namespace: tfg-app
  annotations:
    kubernetes.io/ingress.class: "gce"
    kubernetes.io/ingress.global-static-ip-name: "tfg-app-ip"
    networking.gke.io/managed-certificates: "tfg-cert"
    kubernetes.io/ingress.allow-http: "true"
spec:
  rules:
  - host: YOUR_DOMAIN_HERE
    http:
      paths:
      - path: /api/*
        pathType: ImplementationSpecific
        backend:
          service:
            name: backend
            port:
              number: 4000
      - path: /*
        pathType: ImplementationSpecific
        backend:
          service:
            name: frontend
            port:
              number: 80
---
apiVersion: networking.gke.io/v1
kind: ManagedCertificate
metadata:
  name: tfg-cert
  namespace: tfg-app
spec:
  domains:
    - YOUR_DOMAIN_HERE
